<!-- subscriptions.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Subscription</title>
    <link rel="stylesheet" href="css/subscription-style.css">
    <script src="https://kit.fontawesome.com/eabac940d1.js" crossorigin="anonymous"></script>
</head>
<body>
<h1>Manage Your Topic Subscriptions</h1>

<!-- Subscription Input Form in a Raised Container -->
<div class="subscription-container">
    <form action="/subscriptions/subscribe" method="post">
        <input type="text" name="topic" placeholder="Enter topic to subscribe" required>
        <button type="submit">Subscribe</button>
    </form>
</div>

<h2>Your Subscriptions</h2>

<!-- Subscriptions List -->
<% if (subscriptions.length) { %>
    <% subscriptions.forEach(function(topic){ %>
        <div class="subscription-item">
            <span><%= topic %></span>
            <form action="/subscriptions/unsubscribe" method="post" class="unsubscribe-form">
                <input type="hidden" name="topic" value="<%= topic %>">
                <button type="submit">Unsubscribe</button>
            </form>
        </div>
    <% }); %>
<% } else { %>
    <p>You have no subscriptions yet.</p>
<% } %>

<a href="/home">Back to Home</a>

</body>
</html>